@import url("./reset.css");
@font-face {
  font-family: "PT Sans";
  src: url("./fonts/PTSans-Regular.ttf")
}
@font-face {
  font-family: "Proxima Nova";
  src: url("./fonts/ProximaNova-Regular.ttf")
}
@font-face {
  font-family: "Proxima Nova Bold";
  src: url("./fonts/ProximaNova-Bold.ttf")
}
@font-face {
  font-family: "Proxima Nova Thin";
  src: url("./fonts/ProximaNova-Light.ttf")
}
@media (max-width: 1200px) {
  .form-bill__header.m-form-header {
    font: normal 600 24px/29px "Proxima Nova";
    display: flex;
    align-items: center;
    text-align: center;
  }
  .form-bill__text.m-form-text {
    font: 18px/22px "Proxima Nova";
    text-align: center;
  }
  .form-bill__wrap--reg.m-form-bill__wrap--reg {
    width: calc(100% - 40px);
  }
  .form-bill__wrap--confirm.m-form-bill__wrap--confirm {
    max-width: 289px;
    width: 100%;
  }
  .form-bill__wrap--active.m-form-bill__wrap--active {
    max-width: 374px;
    width: 100%;
  }
  .header {
    height: 76px;
    overflow: hidden;
    transition: height .5s linear;
  }
  .header.header--active {
    height: var(--compact-menu-height);
    top: 0;
    transition: height .5s linear;
  }
  .m-menu.menu {
    justify-content: flex-start;
    flex-direction: column;
  }
  .menu__logo {
    display: none;
  }
  .menu__compact {
    width: 20px;
    height: 12px;
    background: url("./menu/menu__compact.png");
    list-style: none;
    display: flex;
    justify-content: flex-start;
    margin: 33px 15px 31px auto;
  }
  .menu__item {
    border-top: 1px solid #fff;
  }
}
.header {
  background: #0F7A65;
  width: 100%;
  position: fixed;
  top: 0;
}
.menu__item {
  padding: 33px 30px 34px;
  font: 18px/23px "PT Sans";
  display: flex;
  align-items: center;
}
.menu__logo {
  box-sizing: content-box;
  margin: 10px 0 8px 30px;
  width: 59px;
  height: 72px;
  background: url("./menu/menu_logo.png");
  list-style: none;
  flex-shrink: 0;
}
.menu {
  display: flex;
  justify-content: center;
  list-style: none;
}
.menu__link {
  color: #FFFFFF;
  text-decoration: none;
}
.menu__link:hover {
  text-decoration: underline;
}
.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.form-bill {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
  margin: 0 20px;
}
.form-bill__logo {
  width: 120px;
  height: 120px;
  border-radius: 60px;
  background: #25B887;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}
.form-bill__logo--letter::before {  
  width: 66px;
  height: 66px;
  background: url("./form-reg/form-reg__logo--letter.png")
}
.form-bill__logo--activate::before {
  width: 78px;
  height: 56px;
  background: url("./form-reg/form-reg__logo--activate.png")
}
.form-bill__logo::before {
  display: block;
  content: "";
}
.form-bill__header {
  font: bold 36px/44px "Proxima Nova Thin";
  display: flex;
  align-items: center;
  text-align: center;
  color: #000000;
  margin-bottom: 10px;
}
.form-bill__text {
  font: 24px/29px "Proxima Nova";
  text-align: center;
  color: #272727;
  margin-bottom: 50px;
}
.form-bill__wrap--reg {
  width: 350px;
}
.form-bill__wrap--confirm {
  width: 260px;
}
.form-bill__wrap--active {
  width: 465px;
}
.form-bill__wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form-bill__email {
  height: 50px;
  width: 100%;
  border: 1px solid #9B9B9B;
  box-sizing: border-box;
  border-radius: 5px;
  padding: 14px 15px;
  margin-bottom: 20px;
  font: 18px/22px "Proxima Nova";
  color: #9B9B9B;
}
.form-bill__send {
  height: 50px;
  background: #25B887;
  border-radius: 5px;
  border: 1px solid #25B887;
  width: 100%;
  font: 600 18px/22px "Proxima Nova Thin";
  text-align: center;
  color: #FFFFFF;
  margin-bottom: 25px;
}
.form-bill__link {
  font: 18px/22px "Proxima Nova Thin";
  text-align: center;
  text-decoration: none;
  color: #272727;
}
.form-bill__number {
  width: 50px;
  height: 50px;
  text-align: center;
  background: #FFFFFF;
  border: 1px solid #9B9B9B;
  box-sizing: border-box;
  border-radius: 5px;
  margin: 0 0 20px 0;
  font: 18px/22px "Proxima Nova";
  color: #9B9B9B;
}
.form-bill__number:last-child {
  margin: 0;
}
.form-bill__label {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.form-bill__email-label {
  width: 100%;
}
.form-bill__other-auth {
  display: flex;
  justify-content: center;
}
.text-confirm {
  max-width: 465px;
  margin: 0 20px 50px;
}
.blackout {
  background: rgba(0,0,0,.45);
  height: 100vh;
  width: 100%;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
}
.modal-window {
  margin: 0 15px;
  max-width: 600px;
  min-width: 150px;
  background: #fff;
  border-radius: 5px;
}
.modal-window__header {
  font: 600 24px "Proxima Nova";
  display: flex;
  align-items: center;
  text-align: center;
  padding: 25px 0 15px;
  margin: 0 25px;
  border-bottom: 1px solid #9B9B9B;
}
.modal-window__text {
  font: 18px/22px "Proxima Nova";
  margin: 15px 25px;
}
.modal-window__btn {
  height: 50px;
  background: #25B887;
  border-radius: 5px;
  border: 1px solid #25B887;
  font: 600 18px/22px "Proxima Nova Thin";
  text-align: center;
  color: #FFFFFF;
  margin: 0 25px 25px;
  width: calc(100% - 50px);
}